body {
    background-color: black;
}
.a {
    color: #767676;
}
.b {
    color: #767676; 
}
.c {
    color: #FFFFFF;
}
.d {
    color: #767676;
}
.e {
    color: #FFFFFF;
}
.f {
    color:#767676 ;
}
.g {
    color: #767676;
}
.h {
    color: #FFFFFF;
}
.i {
    color:#767676;
}
.j {
    color: #FFFFFF;
}